In [2]:
%load_ext sql

In [21]:
HOST='dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com'
DB_NAME='dwh'
DB_USER='dwhuser'
DB_PASSWORD='Passw0rd'
DB_PORT=5439
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER,DB_PASSWORD,HOST,DB_PORT,DB_NAME)
print(conn_string)
%sql $conn_string
# host={} dbname={} user={} password={} port={}

postgresql://dwhuser:Passw0rd@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [22]:
%sql SELECT count(*) FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [23]:
%sql SELECT count(*) FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [24]:
%sql SELECT count(*) FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [25]:
%sql SELECT count(*) FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [26]:
%sql SELECT count(*) FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [27]:
%sql SELECT count(*) FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [28]:
%sql SELECT count(*) FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [29]:
%%sql 
select table_name, query, line_number, colname, starttime, trim(reason) as error
from loadview
where table_name ='staging_song'
order by line_number limit 1;

 * postgresql://dwhuser:***@dwhcluster.c5vohwfexy7o.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) relation "loadview" does not exist
 [SQL: "select table_name, query, line_number, colname, starttime, trim(reason) as error\nfrom loadview\nwhere table_name ='staging_song'\norder by line_number limit 1;"]